* {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  background-color: #0072C6;
}

a {
  color: #242424;
  text-decoration: none;
}

em {
  color: #f9f8ff;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #f9f8ff;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #f9f8ff;
  text-align: center;
}

header,
footer {
  background-color: white;
  padding: 10px 20px;
}

section {
  padding: 20px 35px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -webkit-fill-available;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 77px;
}

#connexion h4 {
  margin-top: 10px;
  color: #ee1180;
  font-size: 0.7em;
}

.cta:hover {
  background: grey;
  text-decoration: none;
}
.section-connexion h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}
#form-connexion {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  color: white;
}
input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input#Nom{
  
}
.connexion label {
  margin: 10px 0;
}
input[type='submit'] {
  background-color: black;
	color: white;
	border: none;
  margin-top: 30px;
	padding: 10px 20px;
	border-radius: 5px;
  width: 200px;
}

.section-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: -webkit-fill-available;
}
.section-panels {
  display: flex;
  justify-content: space-around;
}
.section-panels article {
  display: flex;
  width: 35%;
  height: 350px;
  align-items: center;
  border: solid;
  flex-direction: column;
  justify-content: space-between;
}
.section-panels div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-panels h5 {
  margin-top: 15px;
  font-weight: 600;
  font-size: larger;
}
.section-panels p {
  margin: 15px;
}
.section-panels a{
  margin-top: 30px;
  margin-bottom: 20px;
}
.section-panels a.button {
  text-align: center;
  background-color: black;
  text-decoration: none;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: 200px;
  font-size: large;
}
.section-panels a.button:hover {
  background-color: grey;
}

/* QCM */

.form-qcm{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 30px auto;
  color: white;

}
.question-boxes{
  border-radius: 10px;
}
.qcm-exam {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
}
.question-list {
    display: flex;
    flex-direction: column;
}
.qcm-exam h4 {
  margin-bottom: 10px;
  font-size: 0.8em;
}
ol {
  list-style-type: none;
  padding: 5px;
}
input[type="radio"] {
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  top: 4px;
}
input:checked {
  border: 6px solid black;
}
.qcm-exam label {
  margin: 0 15px;
  font-size: 0.8em;
  line-height: 1.5em;
  cursor: pointer;
}
.answer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}