* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #0071B9;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
a {
  text-decoration: none;
}
em {
  color: #f9f8ff;
  font-style: normal;
}
h1 {
  color: #f9f8ff;
  text-align: center;
  font-weight: bold;
}
header {
  width: 100%;
  background-color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  width: 100%;
  background-color: white;
  padding: 15px 25px;
}
footer{
  bottom: 0;
}
section {
  padding: 20px 35px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 90px;
  width: 77px;
}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}
label {
  font-weight: 400;
}
form input {
  width: 100%;
  background: #333;
  padding: 12px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
  color: white;
}
.error {
  color: #B00020;
  font-size: 1.3em;
}

/* Connection */
#nameofpage1 {
  text-align: left;
  width: calc(50% + 140px);
}
#connexion { /* after <main> */
  width: 400px;
  background-color: #5D626E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
#connexion .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
#connexion h1 {
  font-size: 2em;
  text-transform: uppercase;
}
#connexion form {
  gap: 25px;
}
::placeholder {
  color: #aaa;
  font-weight: 500;
  font-size: 1em;
}
#button {
  color: white;
  font-weight: 600;
  cursor: pointer;
}
#button:hover {
  background: #0053b9;
  text-decoration: none;
}


/* Menu */
#menu { /* after <main> */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
#menu h1 {
  font-size: 2.3em;
  text-transform: uppercase;
  color: white;
}
#panels {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 100%;
}
.choices {
  width: 40%;
  height: 100%;
  background-color: #5D626E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
.choices div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: left;
}
.choices h2 {
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
}
.choices p {
  color: white;
  font-weight: 400;
  font-size: larger;
  margin-top: 10px;
}
.choices h4.error {
  margin-bottom: 10px;
}
.custom-select label {
  margin-bottom: 10px;
  margin-left: 2px;
}
.custom-select article {
  display: flex;
  gap: 10px;
}
.custom-select select {
  appearance: none;
  width: 70%;
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}
.custom-select select:focus {
  outline: none;
  border-color: #0071b9;
  box-shadow: 0 0 0 0.2rem rgba(0, 113, 185, 0.25);
}
.custom-select input {
  width: 30%;
}
.choices a {
  width: 100%;
  background: #333;
  padding: 12px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
  color: white;
  text-align: center;
}

/* QCM */
.longpage {
  height: auto;
}
#qcm-exam { /* after <main> */
  display: flex;
  flex-direction: column;
  align-items: center;
}
#qcm-exam h1 {
font-size: 2.3em;
  text-transform: uppercase;
  color: white;
  margin: 30px 0;
}
.form-qcm{
  width: 66%;
}
.question-boxes{
  margin: 25px;
  border-radius: 8px;
  border: 2px solid #FFF;
  padding: 20px;
}
.question-boxes legend{
  background-color: #FFF;
  color: #333333;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 0 10px;
}
#qcm-exam h4 {
  margin-bottom: 10px;
  font-size: 1.4em;
  font-weight: 400;
}
#qcm-exam ol {
  list-style-type: none;
  padding: 10px;
}
#qcm-exam li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.answer {
  display: flex;
  align-items: center;
}
.answer input {
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #ffffff;
  background-color: white;
  padding: 6px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
}
.answer input:checked {
  border: 2px solid #333;
  background-color: #333;
}
.answer label {
  margin: 0 15px;
  font-size: 1.1em;
  line-height: 1.5em;
  cursor: pointer;
}
.form-qcm input[type="submit"] {
  margin: 25px;
  width: unset;
}











/* test */
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 4px;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #0053b9;
  color: white;
  border: 2px solid #0053b9;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5D626E;
  border-radius: 4px 4px 0 0;
  min-width: 160px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: left;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}