* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #0071B9;
}
main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
a {
  text-decoration: none;
}
em {
  color: #f9f8ff;
  font-style: normal;
}
h1 {
  color: #f9f8ff;
  text-align: center;
  font-weight: bold;
}
header,
footer {
  width: 100%;
  background-color: white;
  padding: 15px 25px;
}
section {
  padding: 20px 35px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 77px;
}
form{
  display: flex;
  flex-direction: column;
  color: white;
}
label {
  font-weight: 400c ;
}


/* Connection */
#section-connexion {
  width: 400px;
  background-color: #5D626E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
#section-connexion .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
#section-connexion h1 {
  font-size: 2em;
  text-transform: uppercase;
}
#section-connexion form {
  width: 100%;
  gap: 25px;
}
#section-connexion form input {
  width: 100%;
  background: #333;
  padding: 12px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
  color: white;
}
::placeholder {
  color: #aaa;
  font-weight: 500;
  font-size: 1em;
}
#section-connexion #error {
  color: #e01e41;
  font-size: 1.3em;
}
#button {
  padding: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
#button:hover {
  background: #0053b9;
  text-decoration: none;
}


/* Menu */
#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: -webkit-fill-available;
}
#menu h1 {
  font-size: 2.3em;
  text-transform: uppercase;
  color: white;
}
.section-panels {
  display: flex;
  justify-content: space-around;
}
.choices {
  display: flex;
  width: 35%;
  height: 350px;
  align-items: center;
  border: solid;
  flex-direction: column;
  justify-content: space-between;
}
.choicexam{
  display: flex;

}
.section-panels div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-panels h5 {
  margin-top: 15px;
  font-weight: 600;
  font-size: larger;
}
.section-panels p {
  margin: 15px;
}
.section-panels a{
  margin-top: 30px;
  margin-bottom: 20px;
}
.section-panels .button {
  text-align: center;
  background-color: black;
  text-decoration: none;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: 200px;
  font-size: large;
}
.section-panels .button:hover {
  background-color: grey;
}
.custom-select {
  position: relative;
}
#examen {
  appearance: none;
  width: 50%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

/* QCM */

.form-qcm{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 30px auto;
  color: white;

}
.question-boxes{
  border-radius: 10px;
}
.qcm-exam {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
}
.question-list {
    display: flex;
    flex-direction: column;
}
.qcm-exam h4 {
  margin-bottom: 10px;
  font-size: 0.8em;
}
ol {
  list-style-type: none;
  padding: 5px;
}
input[type="radio"] {
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  top: 4px;
}
input:checked {
  border: 6px solid black;
}
.qcm-exam label {
  margin: 0 15px;
  font-size: 0.8em;
  line-height: 1.5em;
  cursor: pointer;
}
.answer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}